* {
    box-sizing: border-box;
} 
body {
    margin: 0;
    font-family: "calibri";
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
} 
header {
    height: 65px;
    width: 100%;
    background-color: green;
    position :fixed;
    top: 0;
    z-index: 10;
}
.logo {
    width: 175px;
    margin-top: 7px;
}
.header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
a {
    text-decoration: none;
}
.main {
    margin-top: 100px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .button-cari {
      text-align : center;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

